body {
    background-color: rgb(226, 218, 210);
    margin: right auto;
margin: left auto;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
display: flex;
}
    
.contaner {
margin: right auto;
margin: left auto;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
display: flex;
background-color:rgb(226, 218, 210)
background-repeat: no-repeat;

}

.head{
    margin: right auto;
    margin: left auto;
    width: 100%;
    height: 100%;

    
}
.header{
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}
.logo{
width: 50px;
height: 50px;
margin-top: 15px;
margin-left: 50px;
}
.nevbar{
    
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.nevul{
display: flex;
font-size: 18px;
gap: 50px;
list-style: none;

}
.li:hover{
    background-color: rgb(151, 65, 65);
    color: white;
    
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    padding-right: 50px;
}
.cb:hover{
    background-color: rgb(151, 65, 65);
    color: rgb(255, 255, 255);
}

.cb{
  width: 130px;
  height: 30px;
  background-color: orange;
  color: white;
  font-size: 14px;
  cursor: pointer;  
  background-image: url(./currency_exchange_FILL0_wght400_GRAD0_opsz48.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-size: 20px;
  background-position-y: center;

}

.sb{
    width: 130px;
    height: 30px;
    background-color:orange;
    color: white;
    font-size: 14px;
    cursor: pointer;  
    background-image: url(./input_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-size: 20px;
    background-position-y: center;

}
.sb:hover{
    background-color: rgb(151, 65, 65);
    color: white;
}

.contenar2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.text{
    width: 550px;
}
.t2{
margin-left: 50px;
}
.we{
font-size: 48px;
margin-left: 50px;

}

.the{
    font-size: 40px;
    margin-left: 50px;
}
.over{
font-size: 24px;
font-weight: 400;

}

.imgm {
width: 800px;
height: 400px;
margin-left: 50px;

}

.footer{
    margin-top: 50px;
    margin-left: 50px;
}

.our{
    color: black;
    background-color: rgb(223, 201, 201);
    margin-top: 50px;
    height: 30px;
    width: 130px;
    background-image: url(./local_library_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-size: 20px;
  background-position-y: center;
  cursor: pointer;
}
.our:hover{
    background-color: rgb(151, 65, 65);
    color: white;
}
.report{
    color: black;
    background-color: rgb(223, 201, 201);
    height: 30px;
    width: 150px;
    background-image: url(./sim_card_download_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-size: 20px;
  background-position-y: center;
  cursor: pointer;
}
.report:hover{
    background-color: rgb(151, 65, 65);
    color: white;
}